/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  background-color: #191919;
  font-weight: bold;
  width: 100%;
}
.nav-option {
  display: inline-block;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #f4a261;
  background-color: #191919;
  cursor: pointer;
  padding: 0.55rem;
  margin: 0.55rem 1.11rem;
}
.active {
  display: inline-block;
  font-size: 1rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: #f4a261;
  background-color: #242423;
  cursor: pointer;
  padding: 0.55rem;
  margin: 0.55rem 1.11rem;
}
.logo {
  width: 150px;
  height: auto;
  max-height: 100px;
  margin: 0 1.6667rem;
}
.logo-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media only screen and (max-width: 720px) {
  .nav-option,
  .active {
    font-size: 0.6777rem;
    margin: 0.55rem;
  }
  .logo {
    width: 100px;
    height: auto;
    max-height: 60px;
    margin: 0;
  }
}
